<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vvkingg.myblog.mapper.BlogMapper">
    <select id="selectAll" resultType="vvkingg.myblog.entity.Blog">
        select * from blogs
    </select>

    <select id="selectPage" resultType="vvkingg.myblog.entity.Blog">
        select * from blogs limit #{offset},#{number}
    </select>

    <select id="selectTagsPage" resultType="vvkingg.myblog.entity.Blog">
        select * from tagsmap join blogs where tagsmap.tag_name = #{tag} and tagsmap.blog_id = blogs.blog_id
        limit #{offset},#{number}
    </select>

    <select id="BlogsNumber" resultType="int">
        SELECT COUNT(*) FROM blogs;
    </select>

    <select id="blogsNumberByTag" resultType="int">
        SELECT COUNT(*) FROM tagsmap where tag_name = #{tag};
    </select>

    <select id="AllTags" resultType="String">
        SELECT distinct tag_name from tagsmap;
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="blog_id" keyColumn="blog_id" >
        insert into blogs (author_id,blog_title,blog_content,modify_date)
        values (
        #{author_id},
        #{blog_title},
        #{blog_content},
        now()
        )
    </insert>

    <delete id="DeleteBlog">
        delete from blogs where blog_id = #{id}
    </delete>

    <update id ="readBlog">
        update blogs set readed_numb = readed_numb + 1 where blog_id = #{id}
    </update>

    <insert id="insertTagBlog" >
        insert into tagsmap (tag_name,blog_id)
        values (
        #{tag_name},
        #{blog_id}
        )
    </insert>

</mapper>